@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&display=swap");

@layer base {
  body {
    font-family: "Oleo Script Swash Caps", cursive;
  }
}

@layer components {
  .input-killer {
    outline: none;
    -webkit-appearance: none;
  }
  .shadow-heaven {
    box-shadow: 0px 0px 10px 1000px #ccc;
  }
}
